@import url('https://fonts.googleapis.com/css2?family=Bungee+Tint&family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --fuente-bungee: "Bungee Tint", sans-serif;

}

.header {
    display: flex;
   
}

.header__imagen {
    width: 10%;
}

.footer{
    font-family: var(--fuente-bungee);
    font-size: 1.5rem;
    font-weight: 400;
}